@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
    font-family: inherit;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-container {
    display: flex;
    min-height: content;
    width: content;
    align-items: center;
    justify-content: center;
}
#calc-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 110px;
    width: 490px;
    height: 990px;
}

/*
button styles
*/

.row-container {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 12px;
}
.btn {
    width: 90px;
    height: 90px;
    border-radius: 90px; 
    border: 0;
    font-size: 44px;
    font-weight: 500;
    text-align: center;
    color: white;
    background-color: rgb(50, 50, 50);
}
.row-one button {
    background-color: rgb(163, 163, 163);
    color: black;
}
.row-container .btn-four {
    padding-bottom: 8px;
    font-size: 54px;
    background-color: rgb(230, 149, 0);
    color: white;
}
#negative {
    font-size: 36px;
    margin-left: -4px;
}
.row-container .zero {
    width: 192px;
}

/*
display-window styles
*/

#display-container {
    width: 100%;
    padding-right: 70px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.display {
    color: white;
    font-size: 76px;
}

.display.reduceFont {
    font-size: 48px;
}